<body class="mat-app-background">
<mat-toolbar color="primary">
  <mat-icon style="margin-right:20px;" aria-hidden="false" aria-label="Example storefront icon">storefront</mat-icon>
  <span>Restaurant Directory</span>
</mat-toolbar>

<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Restaurant Name</mat-label>
    <input formControlName="restaurantName" matInput placeholder="Ex. Pizza Hut" value="">
  </mat-form-field>

  <mat-form-field>
    <mat-label>City Name</mat-label>
    <input formControlName="cityName" matInput placeholder="Ex. Keningau Island">
  </mat-form-field>

  <button *ngIf="!showSpinnerBtn" [disabled]="!form.valid" mat-raised-button color="accent" (click)="submit()">Submit</button>
  <button *ngIf="showSpinnerBtn" [disabled]="true" mat-raised-button color="accent">
    <div class="hide-btn"><span>Submiting... </span> <mat-spinner color="accent" diameter="20"></mat-spinner></div>
  </button>
</form>

<mat-card style="height:30px; background-color: transparent; margin:0px; box-shadow: 0px 0px transparent;">
  <mat-card-subtitle style="display:flex; flex-direction: row; justify-content:flex-end;">
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Search</mat-label>
      <input (keyup)="search($event)" (change)="search($event)" matInput placeholder="Search Restaurant or City">
    </mat-form-field>
  </mat-card-subtitle>
</mat-card>
<mat-card color="primary">
  <mat-card-subtitle>
    <div class="card-header">
      <span>Restaurant Name</span><span>City</span><span>Action</span>
    </div>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let value of listData">
          <div class="card-list-body">
            <span>{{value.restaurantName}}</span>
            <span>{{value.cityName}}</span>
            <div class="btns-container">
              <button mat-raised-button color="primary" (click)="viewImage()">View Image</button>
              <button mat-raised-button color="warn" (click)="delete(value.id)">Delete</button>
            </div>
          </div>
      </mat-list-item>
    </mat-list>    
  </mat-card-content>
</mat-card>

</body>